{% extends "::base.html.twig" %}

{% block title %}RoketOyunOyunBundle:Admin:reverseCategoryStatus{% endblock %}

{% block body %}
<h1>Welcome to the Admin:reverseCategoryStatus page</h1>
{% endblock %}
